@use '@configs/styles/variables.scss' as *;

.loader {
  border-style: solid;
  border-color: #518581 #518581 #518581 transparent;
  border-radius: 50%;
  animation: spin 2s linear infinite;
  rotate: 212deg;

  &_size {
    &_s {
      width: $loader-size-s;
      height: $loader-size-s;
      border-width: $loader-border-width-s;
      padding: $loader-padding-s;
    }

    &_m {
      width: $loader-size-m;
      height: $loader-size-m;
      border-width: $loader-border-width-m;
      padding: $loader-padding-m;
    }

    &_l {
      width: $loader-size-l;
      height: $loader-size-l;
      border-width: $loader-border-width-l;
      padding: $loader-padding-l;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
