.loader {
    border-style: solid;
    border-color: #518581 #518581 #518581 transparent;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    rotate: 212deg;

    &_size_s {
        width: var(--loader-size-s);
        height: var(--loader-size-s);
        border-width: var(--loader-border-width-s);
        padding: var(--loader-padding-s);
    }

    &_size_m {
        width: var(--loader-size-m);
        height: var(--loader-size-m);
        border-width: var(--loader-border-width-m);
        padding: var(--loader-padding-m);
    }

    &_size_l {
        width: var(--loader-size-l);
        height: var(--loader-size-l);
        border-width: var(--loader-border-width-l);
        padding: var(--loader-padding-l);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}