.button {
    display: inline-flex;
    min-height: 52px;
    padding: var(--space-s) var(--space-l);
    justify-content: center;
    align-items: center;
    gap: var(--space-xxs);
    border: none;
    background-color: var(--button-primary-bg);
    color: var(--button-primary-text);

    &_disabled {
        background-color: var(--button-primary-bg-disabled);
        color: var(--button-primary-text-disabled);
    }

    &:hover:not(:disabled) {
        background-color: var(--button-primary-bg-hover);
        color: var(--button-primary-text-hover);
        cursor: pointer;
    }

    &:active:not(:disabled) {
        background-color: var(--button-primary-bg-active);
        color: var(--button-primary-text-active);
    }

    &-loader {
        border-color: #fff #fff #fff transparent;
    }
}
