@use '@configs/styles/variables.scss' as *;

.text {
  color: inherit;
  white-space: pre-line;

  &_view_button {
    font-size: 18px;
    line-height: 18px;
  }

  &_view_title {
    font-size: 44px;
    font-weight: 700;
    line-height: 48px;
  }

  &_view_p-20 {
    font-size: 20px;
    line-height: 24px;
  }

  &_view_p-18 {
    font-size: 18px;
    line-height: 22px;
  }

  &_view_p-16 {
    font-size: 16px;
    line-height: 20px;
  }

  &_view_p-14 {
    font-size: 14px;
    line-height: 18px;
  }

  &_weight_normal {
    font-style: normal;
  }

  &_weight_medium {
    font-weight: 500;
  }

  &_weight_bold {
    font-weight: bold;
  }

  &_color_primary {
    color: $text-primary;
  }

  &_color_secondary {
    color: $text-secondary;
  }

  &_color_accent {
    color: $text-accent;
  }

  &_cuted {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}
