@use '@configs/styles/variables.scss' as *;

$hero-pt: 40px;
$hero-pb: 48px;
$hero-width: 643px;
$filter-width: 300px;

.hero {
  display: flex;
  flex-direction: column;
  gap: $space-m;
  text-align: center;
  align-items: center;
  padding-top: $hero-pt;
  padding-bottom: $hero-pb;

  & > * {
    max-width: $hero-width;
  }
}

.controls {
  display: flex;
  flex-direction: column;
  gap: $space-m;

  &-filter {
    max-width: $filter-width;
  }
}
