@use '@configs/styles/variables.scss' as *;

$hero-pt: 40px;
$hero-pb: 48px;
$hero-width: 643px;
$filter-width: 300px;
$sorter-width: 300px;
$price-slider-width: 300px;

.hero {
  display: flex;
  flex-direction: column;
  gap: $space-m;
  text-align: center;
  align-items: center;
  padding-top: $hero-pt;
  padding-bottom: $hero-pb;

  & > * {
    max-width: $hero-width;
  }
}

.controls {
  display: grid;
  // grid-template-areas: 'search search' 'filter slider' 'sorter reset';
  grid-template-areas: 'search search search' 'filter sorter slider' '. reset .';
  align-items: center;
  justify-content: space-between;
  gap: $space-m;

  &-search-form {
    grid-area: search;
  }

  &-filter {
    grid-area: filter;
    max-width: $filter-width;
  }

  &-sorter {
    grid-area: sorter;
    max-width: $sorter-width;
  }

  &-price-slider {
    grid-area: slider;
    max-width: $price-slider-width;
  }

  &-reset {
    grid-area: reset;
    justify-self: center;
  }

  @media (max-width: 768px) {
    grid-template-areas: 'search' 'filter' 'sorter' 'slider' 'reset';
    grid-template-columns: 1fr;

    &-filter {
      max-width: 100%;
    }

    &-sorter {
      max-width: 100%;
    }

    &-price-slider {
      max-width: 100%;
    }
  }
}
