@use '@configs/styles/variables.scss' as *;

$error-color: #9f4f4f;

.infinity-scroll {
  &-loader {
    margin-top: $space-l;
    display: flex;
    justify-content: center;
  }

  &-end {
    display: flex;
    justify-content: center;
    margin-top: $space-xl;
  }

  &-error {
    display: flex;
    justify-content: center;
    margin-top: $space-xl;
    color: $error-color;
  }

  &-cards-loader {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: $space-xl;
    justify-items: center;
    margin-top: $space-l;
    height: 606px;
    overflow: hidden;
  }
}
