:root {
    --bg: #FAFAFA;

    --text-primary: #000;
    --text-secondary: #AFADB5;
    --text-accent: #518581;
  
    --border-radius: 0;

    --loader-size-s: 16px;
    --loader-size-m: 32px;
    --loader-size-l: 40px;
    --loader-border-width-s: 2px;
    --loader-border-width-m: 4px;
    --loader-border-width-l: 5px;
    --loader-padding-s: 4px;
    --loader-padding-m: 8px;
    --loader-padding-l: 10px;
  
    --button-primary-bg: #518581;
    --button-primary-text: #fff;
    --button-primary-bg-hover: #86AAA7;
    --button-primary-text-hover: #fff;
    --button-primary-bg-active: #487773;
    --button-primary-text-active: #fff;
    --button-primary-bg-disabled: #D9D9D9;
    --button-primary-text-disabled: #fff;
  
    --card-bg: #fff;
    --card-image-bg: #D9D9D9;
  
    --input-bg: #fff;
    --input-border: #fff;
    --input-text: #000;
    --input-placeholder: #AFADB5;
    --input-bg-focus: #fff;
    --input-border-focus: #518581;
    --input-text-focus: #000;
    --input-bg-disabled: #fff;
    --input-text-disabled: #00000033;
  
    --dropdown-options-bg: #fff;
  
    --checkbox-bg: #fff;
    --checkbox-border: #fff;
    --checkbox-check: #518581;
    --checkbox-bg-hover: #fff;
    --checkbox-border-hover: #518581;
    --checkbox-check-hover: #518581;
    --checkbox-bg-disabled: #f6f5f5;
    --checkbox-border-disabled: #f6f5f5;
    --checkbox-check-disabled: #00000033;
  
    --space-xxs: 8px;
    --space-xs: 12px;
    --space-s: 14px;
    --space-m: 16px;
    --space-l: 20px;
    --space-xl: 48px;
  }
  