@use '@configs/styles/variables.scss' as *;

.back-button {
  display: flex;
  align-items: center;
  gap: $space-xs;
  text-decoration: none;
  margin-bottom: $space-l;

  &:hover {
    cursor: pointer;
  }
}
