@use '@configs/styles/variables.scss' as *;

.back-button {
  display: flex;
  align-items: center;
  gap: $space-xs;
  text-decoration: none;
  margin-bottom: $space-l;

  &:hover {
    cursor: pointer;
  }
}

.product {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  column-gap: $space-xl;
  row-gap: $space-l;

  &-image {
    max-width: 600px;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    justify-self: end;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: $space-m;
    width: 100%;
  }

  &-actions {
    display: flex;
    flex-direction: column;
    gap: $space-xl;
    margin-top: clamp($space-s, 5vw, $space-xl);
  }

  &-buttons {
    display: flex;
    align-items: center;
    gap: $space-xl;
  }
}
