@use '@configs/styles/variables.scss' as *;

.price-slider {
  display: grid;
  grid-template-areas: 'min max' 'slider slider';
  gap: $space-xxs;

  &-control {
    grid-area: slider;
  }

  &-min {
    grid-area: min;
    text-align: left;
  }

  &-max {
    grid-area: max;
    text-align: right;
  }
}
