.checkbox {
    &-input {
        visibility: hidden;
    }

    &-label {
        display: inline-block;
        position: relative;
        width: 40px;
        height: 40px;
    }

    &-icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 40px;
        height: 40px;
        background-color: var(--checkbox-bg);
        border: 1px solid var(--checkbox-border);
        color: var(--checkbox-check);

        &:hover:not(&_disabled) {
            background-color: var(--checkbox-bg-hover);
            border: 1px solid var(--checkbox-border-hover);
        }
        
        &_disabled {
            background-color: var(--checkbox-bg-disabled);
            color: var(--checkbox-check-disabled);
            border: 1px solid var(--checkbox-border-disabled);
        }

        &:not(&_checked) > * {
            display: none;
        }

    }
}
