@use '@configs/styles/variables.scss' as *;

.icon_stroke_primary {
  stroke: $icon-primary;
  color: $icon-primary;
}

.icon_stroke_secondary {
  stroke: $icon-secondary;
  color: $icon-secondary;
}

.icon_stroke_accent {
  stroke: $icon-accent;
  color: $icon-accent;
}

.icon_stroke_white {
  stroke: #fff;
}

.icon_fill_primary {
  fill: $icon-primary;
}

.icon_fill_secondary {
  fill: $icon-secondary;
}

.icon_fill_accent {
  fill: $icon-accent;
}

.icon_fill_white {
  fill: #fff;
}
